<div class="preloader" id="preloader" role="status" aria-live="polite" aria-label="Loading CloudBridge Technologies">
  <div class="preloader__half preloader__half--t"></div>
  <div class="preloader__half preloader__half--b"></div>
  <div class="preloader__core">
    <div class="preloader__glow"></div>
    <svg class="preloader__mark" viewBox="-6 -6 {{logoVW}} {{logoVH}}" aria-hidden="true" focusable="false">
      <path class="pl-fill pl-fill--g" d="{{logoGreen}}"/>
      <path class="pl-fill pl-fill--d" d="{{logoDark}}"/>
      <path class="pl-line pl-line--g" pathLength="1" d="{{logoGreen}}"/>
      <path class="pl-line pl-line--d" pathLength="1" d="{{logoDark}}"/>
    </svg>
    <div class="preloader__word"><span class="n">CloudBridge</span><span class="s">Technologies</span></div>
    <div class="preloader__bar"><i></i></div>
    <div class="preloader__meta"><span>Building Digital Foundations</span><b><span class="preloader__pct">0</span>%</b></div>
  </div>
</div>
